	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#ebebe0 ;
		
		font-family: "Montserrat", sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
		font-size:25px;
		color:#ffff;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	




		

/* Heading Titles */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #261300;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}
	


/* Logo */
/*********************************************************************************/
	
	#logo
	{
		padding: 5em 0em;
		text-align: center;

	}
	
	#logo img{
		float:left;
	}
	
	#logo h1
	{
		font-size: 4.5em;
	}
	
	
	#logo h1 a
	{
		color: #6C2A6A;
	}

	#logo a
	{
		text-decoration: none;
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.50em;
		color: #3C3C3C;
	}

	#logo span a
	{
		color: #3C3C3C;
	}
	
	
	



/* Content */
/*********************************************************************************/

	#content1
	{
		background: #ebebe0;
		height:800px;
		
	}

	#content2
	{
		background: #00134d	;
	}
	#content3
	{
		background: #00394d	;
	}

	
	



	#topic
	{
		overflow: hidden;
		width: 1000px;
		padding: 8em 100px 8em 100px;
		text-align: center;
		color: rgba(255,255,255,0.4);
	}
	
	#topic .content
	{
		padding: 0em 8em;
	}
	
	#topic .title h2
	{
		color: rgba(255,255,255,1);
	}
	 #topic img{
		 float:center;
		 margin-left:-100px;
	 }
	#topic a,
	#topic strong
	{
		color: rgba(255,255,255,0.6);
	}

